<div class="row mt-3">
    <div class="col-md-12">
        <button class="btn btn-info float-right" (click)="addEmployeeShow()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Profile Image</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employeeList">
                <td><a class="btn btn-link text-info" (click)="getEmpDetails(item)">{{item.name}}</a></td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.location}}</td>
                <td><img src="{{item.image}}" class="img-thumbnail" width="70px" alt=""></td>
                <td>{{item.address}}</td>

            </tr>
        </tbody>
    </table>
</div>